details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

.success{
    color: forestgreen;
}

ul { list-style: none; } /* Remove default bullets */

li::before {
    font-weight: bold;
    padding-right: 10px;
}

li.completed-pr::before {
    content: "🗹"; /* Unicode bullet symbol */
    color: forestgreen;  /* Bullet color */
}

li.created-pr::before {
    content: "✓"; /* Unicode bullet symbol */
    color: forestgreen;  /* Bullet color */
}

li.merge-conflict::before {
    content: "✕"; /* Unicode bullet symbol */
    color: red;  /* Bullet color */
}

li.nothing-to-do::before {
    content: "="; /* Unicode bullet symbol */
    color: darkgrey;  /* Bullet color */
}

li.error::before {
    content: "☒"; /* Unicode bullet symbol */
    color: red;  /* Bullet color */
}

.dimmed{
    color: darkgrey;
}

.trigger-updater button{
    margin-top: 10px;
    margin-right: 10px;
}

.note{
    color: gray;
}